/* reset */
html{
  box-sizing:border-box;
  scroll-behavior: smooth;
}
* , ::before , ::after{
  box-sizing:inherit;
}
body{
  font-family:var(--font-reg , sans-serif);
  background-color:var(--light-bg);
  line-height:var(--line-height);
  padding:0px;
  margin:0px;
  overflow-x: hidden;
}

h1 , h2 , h3 , p , li{
  text-transform:capitalize;
  font-family:var(--b-font) ;
  color:var(--prime-color);
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration:none;
}


/* wrapper */
.wrapper{
  width: 100%;
}


/* header */
header{
  width:100%;
  max-height:200px;
  background-color:var(--light-bg);
  box-shadow: 0 10px 10px rgba(0,0,0,0.05);
  position:sticky;
  top:0;
  left:0;
  z-index:1000;
}
#header-img{
  margin:0 1rem;
  max-width:35px;
  height:auto
}
header .header-box{
  padding: var(--padding) 0;
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}
header .header-box nav ul{
  padding: 0px;
  margin:0px;
  list-style-type: none;
  text-align: center;
}
header .header-box nav ul li a{
  display:block;
  max-width:150px;
  padding:0.5rem;
  margin:0 0.25rem;
  border-radius: 10px;
  color:var(--prime-color);
  transition: all 0.25s ease-in-out ;
}
li a:hover{
  background-color:var(--second-color);
  color:#fff;
}

/* small screen devices max width 768px */
@media all and (max-width:768px){

  header .header-box{
    flex-flow:column wrap;
    align-items: center;
  }
  header .header-box nav ul{
    margin-top:var(--margin);
    border-bottom: 1px solid var(--second-color);
    padding-bottom: 0.5rem;
  }
}


/* intro */
.intro{
  width:100%;
  height:50vh;
  background-color:var(--dark-bg);
  text-align:center;
  position:relative;
}
.intro .video-box{
  width:100%;
  height: 100%;
  position:relative;
}
.intro .video-box video{
  width:100%;
  height:100%;
  object-fit: cover;
}
.intro .video-box .layer{
  width:100%;
  height: 100%;
  background-color:var(--dark-bg);
  position: absolute;
  top:0;
  left:0;
  opacity:0.925;
}
.intro .text-box{
  width:100%;
  height:100%;
  position: absolute;
  top:10%;
  left:0;
}

/* small screen devices max width 768px */
@media all and (max-width:768px){
  .intro .text-box{
    top:5%;
  }
}

.intro h1{
  font-family: var(--font-Bold);
  font-size:2rem;
  margin-bottom:1rem;
}
.intro h1>span{
  color:var(--second-color)
}
.intro p{
  width:90%;
  margin:auto;
  line-height:2.5;
  font-family: var(--font-semiBold);
}


/* features */
.features{
  width:100%;
  text-align: center;
  margin:var(--margin);
  padding:var(--section-padding) 0;
  flex-wrap:wrap !important;
  align-items: baseline !important;
}
.features>*{
  flex: 0 1 300px;
  margin:var(--margin);
}
.features section h3{
  margin:1rem 0;
  font-family: var(--font-semiBold);
}
.icon>img{
  max-width: 100%;
  height:auto;
}


/* about us */
.about-us{
  width:100%;
  margin:var(--margin) 0;
  padding:var(--section-padding) 0;
  background-color:var(--dark-bg);
}

.about-us .box{
  flex-wrap:wrap;
}
.about-us .box>*{
  flex: 1 1 450px;
}
.about-us .team-img{
  max-width:100%;
  height: auto;
}
.section-heading{
  margin-bottom:var(--margin);
  text-align:center;
  font-family: var(--font-Bold);
}
.about-us .section-heading{
  text-align:left;
}


/* portfolio */
.portfolio{
  width:100%;
  flex-wrap:wrap !important;
  padding:var(--padding);
  margin:var(--margin) 0;
}
.box-one ,.box-two ,.box-three{
  padding:var(--padding);
  margin: var(--margin);
  text-align:center;
  flex:1 1 250px;
}
.box-one h2 ,.box-two h2 ,.box-three h2{
  color:#fff;
  font-size:3.5rem;
  letter-spacing:3px;
}
.box-one p ,.box-two p ,.box-three p{
  color:#fff;
  font-size:1.1rem;
  letter-spacing:3px;
  font-family: var(--font-light);
}
.box-one {
  background-color:var(--red-box)
}
.box-two{
  background-color: var(--blue-box);
}
.box-three{
  background-color: var(--green-box);
}


/* skills */
.skills{
  width:100%;
  padding:var(--section-padding) 0;
  background-color:var(--dark-bg);

}
.langs{
  width:100%;
  height:100%;
  flex-wrap:wrap;
  justify-content:space-between !important;
  align-items:flex-end !important;
  }
.langs .bar-bg{
  width:calc(100% - 130px);
  background-color: var(--no-progress);
  margin:0.35rem 0; 
  position:relative;
  }
.langs .bar-bg>*{
  background-color: var(--progress);
  font-family:var(--font-light);
  background-color:var(--second-color);
  padding:0.5rem;
  color:#fff;
  text-align:right;
  }
.langs>.bar-bg>*:before{
  content:attr(class);
  text-transform:uppercase;
  width:130px;
  color:var(--prime-color);
  font-size:1.1rem;
  font-family: var(--font-semiBold);
  position:relative;
  left:-100%;
}

.html{
  width:80% !important;
}
.css{
  width:70% !important;
}
.javascript{
  width:85% !important;
}
.php{
  width:65% !important;
}
.python{
  width:90% !important;
}


/* price block */
.price-block{
  width:100%;
  margin:var(--margin) 0 ;
}
.price-block h2{
  margin-bottom:var(--margin);
  text-align:center;
  font-family: var(--font-Bold);
}
.pricing-block{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  text-transform: capitalize;
  text-align: center;
}

.pricing-block .plan{
  background-color:var(--pricing-bg);
  transition: all 0.25s ease-in-out;
}
.pricing-block .plan:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 10px rgba(0,0,0,0.25);
}

.pricing-block .plan>*{
  border:1px solid #333;
}
.pricing-block .plan>*:not(h1,.order-link){
  padding:1rem;
}
.pricing-block .plan h1{
  padding:3rem 0 1rem 0;
  line-height: 1.8;
  color:var(--white);
}
.pricing-block .plan .month{
  font-weight:300;
  text-transform: lowercase;
  font-size: 1.15rem;
}
.pricing-block p{
  color:var(--gray);
}
.pricing-block p.accent{
  background-color: var(--accent);
}
.pricing-block .order-link{
  padding:2.5rem;
}
.pricing-block .order-link a{
  text-decoration:none;
  color:var(--white);
  padding:0.5rem 2rem;
  border:1px solid var(--white);
  transition: all 0.25s ease-in-out;
}
.pricing-block .order-link a:hover{
  color:var(--black);
  background-color: var(--white);
}

.pricing-block .premium.plan{
  position: relative;
  background-color:var(--premium-bg);
  transition: all 0.25s ease-in-out;
  z-index: 10;
}
.pricing-block .premium.plan>*{
  border:none;
  border:1px solid rgba(255,255,255,0.25);
}
.pricing-block .premium.plan p{
  color:var(--white);
  background-color:initial ;
}
.pricing-block .premium.plan:hover{
  transform: scale(1.065);
  box-shadow: 0 0 15px rgba(0,0,0,0.35);
}

/* for mobile screens with max width 576px */
@media all and (max-width:576px){
  .pricing-block .plan:hover{
    transform: none;
    box-shadow: none;
  }
  .pricing-block .premium.plan:hover{
    transform: scale(1.035);
    box-shadow: 0 0 15px rgba(0,0,0,0.35);
  }
  .pricing-block .premium.plan{
    transform: scale(1.035);
    box-shadow: 0 0 15px rgba(0,0,0,0.35);
  }
}


/* footer */

footer{
  width:100%;
  padding:1rem;
  background-color:var(--prime-color);
  flex-wrap: wrap;
  justify-content: space-around;
}
footer>p{
  width:100%;
  margin:0px;
  font-size: 0.9rem;
  text-align: center;
  color:#fff;
}
footer p >span{
  color:var(--second-color);
}