/* reset */
html{
  box-sizing:border-box;
}
* , ::before , ::after{
  box-sizing:inherit;
}
body{
  font-family:var(--font-reg , sans-serif);
  background-color:var(--light-bg);
  line-height:var(--line-height);
  padding:0px;
  margin:0px;
}

h1 , h2 , h3 , p , li{
  text-transform:capitalize;
  font-family:var(--b-font) ;
  color:var(--prime-color);
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration:none;;
}

/* wrapper */

.wrapper{
  width: 100%;
}

/* header */
header{
  width: 100%;
  padding: 1.5rem 0;
  display:flex;
  justify-content: space-between;
}
#header-img{
  margin-left:0.5rem;
  max-width:35px;
  height:auto
}
header nav ul{
  padding: 0px;
  margin:0px;
  list-style-type: none;
  text-align: center;
}

header nav ul li a{
  display:block;
  max-width:150px;
  padding:0.75rem;
  margin:0 0.25rem;
  border-radius: 10px;
  color:var(--prime-color);
  transition: all 0.25s ease-in-out ;
}
li a:hover{
  background-color:var(--second-color);
  color:#fff;
}

/* intro */

.intro{
  width:100%;
  padding:var(--padding);
  background-color:var(--dark-bg);
  text-align:center;
}
.intro h1{
  font-family: var(--font-Bold);
  font-size:2rem;
  margin-bottom:1rem;
}
.intro h1>span{
  color:var(--second-color)
}

/* features */
.features{
  width:100%;
  text-align: center;
  margin:var(--margin);
  align-items:baseline;
}
.features section h3{
  margin:1rem 0;
}

.icon>img{
  max-width: 100%;
  height:auto;
}

/* about us */

.about-us
{
  width:100%;
  height:100%;
  padding:0px 15px;
  background-color:var(--s-row);
  display:flex;
  flex-flow:row wrap;
  align-items:center;
  justify-content:space-between;

}

  .about-us .team-img
  {
    width:50%;
  }
  .team-img>img
  {
    width: 100%;
    height: 100%;
  }
  .about-us-text 
  {
  width:40%;
  text-align:left;
  font-size:0.9em ;
  margin:0px;
  }
    .about-us-text >p
    {
      text-align: left;
    }
/* portfolio */

.portfolio
{
  width:100%;
  height:250px;
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  justify-content:center;
}
  .box-one ,.box-two ,.box-three
  {
    padding-top:10px;
    margin-left:15px;
    text-align:center;
  }
    .box-one h2 ,.box-two h2 ,.box-three h2
    {
      color:white;
      font-size:2.3em;
      margin:0px;
    }
    .box-one p ,.box-two p ,.box-three p
    {
      color:white;
      font-size:80%;
      margin:0px;
  }
  .box-one 
  {
    width:235px;
    height:100px;
    background-color:var(--r-box)
  }
  
  .box-two
  {
    width:235px;
    height:100px;
    background-color: var(--b-box);
  }
  
  .box-three
  {
    width:235px;
    height:100px;
    background-color: var(--g-box);
  }

/* skills */

.skills
{
  width:100%;
  height:500px;
  padding-top:var(--s-padding);
  background-color:var(--s-row);
  display:flex;
  flex-flow:column wrap;
  align-items:center;
  justify-content:flex-start;
}
.langs
{
  width:75%;
  height:75%;

  display:flex;
  flex-flow:column wrap;
  justify-content:space-between;
  }
  .langs>div
  {
    width:100%;
    position:relative;
    padding:var(--s-padding);
    text-align:right;
    color:white;
    font-family:var(--e-font);
    background-color:var(--s-color);
   }
    .langs>div:before
    {
      content:attr(class);
      text-transform:uppercase;
      width:130px;
      color:var(--prime-color);
      font-size:1.2em;
      text-align:right;
      font-family: var(--b-font);
      position:absolute;
      left:-135px;
    }

    .html
    {
      width:60% !important;
    }
    .css
    {
      width:70% !important;
    }
    .javascript
    {
      width:80% !important;
    }
    .php
    {
      width:65% !important;
    }
    .python
    {
      width:90% !important;
    }

/* footer */

footer
{
  width:100%;
  height:50px;
  background-color:var(--prime-color);
  display:flex;
  flex-flow:row wrap;
  align-items:center;
  justify-content: space-around;
}
  footer>p
  {
    width:40%;
    text-align: center;
    color:white;
    margin:0px;
  }
    footer p >span
    {
      color:var(--s-color);
    }


                                    /* mobile 375px */

@media all and (min-width:1px) and (max-width:375px){
  .container
  {
    margin:0px ;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:repeat(9 , 1fr) ;
    grid-template-areas: "header" "intro" "features" "features" "features" "about-us" "portfolio" "skills" "footer" ;
    place-items: center;
    grid-gap:0px;
  }

  
  /* header */
  
  header
  {
    width: 100%;
    height:100%;
    grid-area: header;
    background-image: linear-gradient( 179.4deg,  rgba(12,20,69,1) -16.9%, rgba(71,30,84,1) 119.9% );
    }
    .logo
    {
      width:100%;
      padding:0px;
      height: 100px;
      margin-bottom: 70px;
      margin-top: 30px;
      font-size: 1.2em;
      color:white;
      text-transform: lowercase;
      display: flex;
      flex-flow:row wrap;
      justify-content: center;
      position: relative;
    }
    .logo::before
    {
     content: "";
     background-color: transparent;
     border: 10px solid;
     border-color: var(--s-color) transparent transparent transparent;
     position: absolute;
     bottom: -40%;
    }

    .nav
    {
      height: 280px;
      width:100%;
      padding: 0px;
      margin:0px;
      list-style-type: none;
      text-align: center;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;

    }
      li {
        width: 100%;
        height:70px;
        display: flex;
        justify-content: center;
        align-items:center;
        background-color: black;
      }
        
        li a:link
        {
          text-decoration:none;
          color:white;
          width: 100%;
          height:70px;
          display: flex;
          justify-content: center;
          align-items:center;
        }
        li a:visited
        {
          text-decoration:none;
          color:white;
        }
        li a:hover
        {
          background-color:var(--s-color);
          color:black;
          border-radius: 0px;
        }
        li a:active
        {
          background-color:#6dd3ff;
        }
  
  /* intro */
  
  .intro
  {
    width:100%;
    grid-area: intro;
    height:500px;
  }
    .intro h1
    {
      padding:0px;
      margin: 10px;
    }
    .intro p
    {
     padding:0px 20px;
      width:100%;
      margin:0px;
    }
  
  /* features */
  
  .features
  {
    width:100%;
    height:100%;
    grid-area: features;
    display:flex;
    flex-flow:column wrap;
    justify-content: space-around;
    align-items:center;
  }
   
  .features>section
  {
    width:100%;
    height:500px;
    display: block;
    margin:15px auto;
    line-height:3em;
    border-bottom: 1px dotted gray;
  }
    .features>.third
    {
      border-bottom:0px;
    }
    .icon>img
    {
      width:200px;
      height:150px;
      margin-top: 20px;
      margin-bottom:50px;
    }
  
  /* about us */
  
  .about-us
  {
    width:100%;
    grid-area: about-us;
    height:500px;
    background-color:var(--s-row);
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    justify-content:flex-start;
  
  }
  
    .about-us>section
    {
      width:100%
    }
      .team-img>img
     {
       width: 100%;
     }
      .about-us-text , .about-us-text>p
      {
      text-align:center;
      line-height: 1.5em;
      font-size:90%;
      }
  .team-img
  {
    order:2;
  }

  /* portfolio */
  
  .portfolio
  {
    width:100%;
    height:100%;
    grid-area: portfolio;
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    justify-content:space-around;
  }
    .box-one ,.box-two ,.box-three
    {
      width:90%;
      margin-left:0px;
      padding:0px;
      border-radius: 5px;
    }
      .box-one h2 ,.box-two h2 ,.box-three h2
      {
        font-size:3em;
        margin:0px;
        text-align: center;
      }
      .box-one p ,.box-two p ,.box-three p
      {
        font-size:90%;
        margin:0px;
        text-align: center;
    }
  /* skills */
  
  .skills
  {
    width:100%;
    grid-area: skills;
    height:100%;
  }
  .langs
  {
    width:85%;
    height:75%;
    padding-bottom: 60px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-evenly;
    align-items: flex-end;
    }
    .langs>div
    {
      position:relative;
      padding:5px;
     }
      .langs>div:before
      {
      transform: rotate(-90deg);
      width:130px;
      font-size:0.9em;
      bottom: -80px;
      left:-105%;
      }
  
      .html
      {
        height:60% ;
        width: 15% !important;
      }
      .css
      {
        height:70% ;
        width: 15% !important
      }
      .javascript
      {
        height:80% ;
        width: 15% !important
      }
      .php
      {
        height:65% ;
        width: 15% !important
      }
      .python
      {
        height:90% ;
        width: 15% !important
      }
  
  /* footer */
  
  footer
  {
    width:100%;
    height:100%;
    grid-area: footer;
    align-self:flex-start;
    flex-flow :column wrap;
  }
    footer>p
    {
      width:100%;
      font-size:1.2em

    }
}

                                  /* tablet 700px */

@media all and (min-width:375px) and (max-width:700px){
  .container
  {
    margin:0px ;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:repeat( 7 , 1fr) ;
    grid-template-areas: "header" "intro" "features" "about-us" "portfolio" "skills" "footer" ;
    place-items: center;
    grid-gap:0px;
  }

 /* header */
    header
    {
      width: 100%;
      height:100%;
      background-image: linear-gradient( 179.4deg,  rgba(12,20,69,1) -16.9%, rgba(71,30,84,1) 119.9% );  }

      .logo
      {
      width:100%;
      padding:0px;
      height: 100px;
      margin-bottom: 70px;
      margin-top: 30px;
      font-size: 1.2em;
      color:white;
      text-transform: lowercase;
      display: flex;
      flex-flow:row wrap;
      justify-content: center;
      position: relative;
    }
    .logo::before
    {
     content: "";
     background-color: transparent;
     border: 10px solid;
     border-color: var(--s-color) transparent transparent transparent;
     position: absolute;
     bottom: -40%;
    }

    .nav
    {
      height: 280px;
      width:100%;
      padding: 0px;
      margin:0px;
      list-style-type: none;
      text-align: center;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;

    }
      li {
        width: 100%;
        height:70px;
        display: flex;
        justify-content: center;
        align-items:center;
        background-color: black;
      }
        
        li a:link
        {
          text-decoration:none;
          color:white;
          width: 100%;
          height:70px;
          display: flex;
          justify-content: center;
          align-items:center;
        }
        li a:visited
        {
          text-decoration:none;
          color:white;
        }
        li a:hover
        {
          background-color:var(--s-color);
          color:black;
          border-radius: 0px;
        }
        li a:active
        {
          background-color:#6dd3ff;
        }
        
    .intro h1
    {
      margin: 5px;
      padding-top:20px;
    }
    .intro p
    {
     padding:0px 20px;
      width:100%;
      margin:0px;
    }

/* features */

.features>section 
{
  width:31%
}

/* about us */
    .about-us
  {
    width:100%;

    height:500px;
    background-color:var(--s-row);
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    justify-content:flex-start;
  
  }
  
    .about-us>section
    {
      width:100%
    }
      .team-img>img
     {
       width: 100%;
     }
      .about-us-text , .about-us-text>p
      {
      text-align:center;
      line-height: 1.5em;
      font-size:95%;
      padding: 15px;
      }
  .about-us>.team-img
  {
    order:2;
    width:60%;
  }

  /* portfolio */

  .portfolio
  {
    width:100%;
    height:100%;
    grid-area: portfolio;
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    justify-content:center;
  }
    .box-one ,.box-two ,.box-three
    {
      width:100%;
      margin: auto auto;
      padding:0px;
      height:calc(100% /3);
      border-radius: 0px;
      display:flex;
      flex-flow:row wrap;
      justify-content: center;
      align-items: center;
    }
      .box-one h2 ,.box-two h2 ,.box-three h2
      {
        font-size:4em;
        margin:0px;
      }
      .box-one p ,.box-two p ,.box-three p
      {
        font-size:1.5em;
        padding-left:15px;
        letter-spacing:5px;
    }
    
  /* skills */
    .langs
    {
      padding-left:50px;
      }

    /* footer */
    footer
  {
    width:100%;
    height:100%;
    grid-area: footer;
    align-self:flex-start;
    flex-flow :column wrap;
  }
    footer>p
    {
      width:100%;
      font-size:1.2em
    }
  }

