/* reset */
html{
  box-sizing:border-box;
  scroll-behavior: smooth;
}
* , ::before , ::after{
  box-sizing:inherit;
}
body{
  font-family:var(--font-reg , sans-serif);
  background-color:var(--light-bg);
  line-height:var(--line-height);
  padding:0px;
  margin:0px;
  overflow-x: hidden;
}

h1 , h2 , h3 , p , li{
  text-transform:capitalize;
  font-family:var(--b-font) ;
  color:var(--prime-color);
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration:none;
}


/* wrapper */
.wrapper{
  width: 100%;
}


/* header */
header{
  width: 100%;
  height: 95px;
  padding: var(--padding) 0;
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}
#header-img{
  margin-left:0.5rem;
  max-width:35px;
  height:auto
}
header nav ul{
  padding: 0px;
  margin:0px;
  list-style-type: none;
  text-align: center;
}

header nav ul li a{
  display:block;
  max-width:150px;
  padding:0.5rem;
  margin:0 0.25rem;
  border-radius: 10px;
  color:var(--prime-color);
  transition: all 0.25s ease-in-out ;
}
li a:hover{
  background-color:var(--second-color);
  color:#fff;
}

/* small screen devices max width 768px */
@media all and (max-width:768px){

  header{
    flex-flow:column wrap;
    align-items: center;
  }
  header nav ul{
    margin-top:var(--margin);
    border-bottom: 1px solid var(--second-color);
    padding-bottom: 0.5rem;
  }
}


/* intro */
.intro{
  width:100%;
  height:calc(100vh - 95px);
  background-color:var(--dark-bg);
  text-align:center;
  position:relative;
}
.intro .video-box{
  width:100%;
  height: 100%;
  position:relative;
}
.intro .video-box video{
  width:100%;
  height:100%;
  object-fit: cover;
}
.intro .video-box .layer{
  width:100%;
  height: 100%;
  background-color: rgba(0,0 ,0 ,0.99);
  position: absolute;
  top:0;
  left:0;
  opacity:0.8;
}
.intro .text-box{
  padding:3rem;
  line-height:1.8;
  background-color:var(--light-bg);
  opacity:0.8;
  border-radius: 1rem;
  position: absolute;
  top:15%;
  left:50%;
  transform: translateX(-50%);
}
.intro h1{
  font-family: var(--font-Bold);
  font-size:2rem;
  margin-bottom:1rem;
}
.intro h1>span{
  color:var(--second-color)
}


/* features */
.features{
  width:100%;
  text-align: center;
  margin:var(--margin);
  padding:var(--section-padding) 0;
  flex-wrap:wrap !important;
  align-items: baseline !important;
}
.features>*{
  flex: 0 1 300px;
  margin:var(--margin);
}
.features section h3{
  margin:1rem 0;
  font-family: var(--font-semiBold);
}
.icon>img{
  max-width: 100%;
  height:auto;
}


/* about us */
.about-us{
  width:100%;
  margin:var(--margin) 0;
  padding:var(--section-padding) 0;
  background-color:var(--dark-bg);
  text-align: left;
}

.about-us .box{
  flex-wrap:wrap;
}
.about-us .box>*{
  flex: 1 1 450px;
}
.about-us .team-img{
  max-width:100%;
  height: auto;
}
.about-us-text h2{
  margin-bottom:1rem;
}


/* portfolio */
.portfolio{
  width:100%;
  flex-wrap:wrap !important;
  padding:var(--padding);
  margin:var(--margin) 0;
}
.box-one ,.box-two ,.box-three{
  padding:var(--padding);
  margin: var(--margin);
  text-align:center;
  flex:1 1 250px;
}
.box-one h2 ,.box-two h2 ,.box-three h2{
  color:#fff;
  font-size:3.5rem;
  letter-spacing:3px;
}
.box-one p ,.box-two p ,.box-three p{
  color:#fff;
  font-size:1.1rem;
  letter-spacing:3px;
  font-family: var(--font-light);
}
.box-one {
  background-color:var(--red-box)
}
.box-two{
  background-color: var(--blue-box);
}
.box-three{
  background-color: var(--green-box);
}


/* skills */
.skills{
  width:100%;
  padding:var(--section-padding) 0;
  background-color:var(--dark-bg);
  text-align:center;
  font-family: var(--font-Bold);
}
.langs{
  width:100%;
  height:100%;
  flex-wrap:wrap;
  justify-content:space-between !important;
  align-items:flex-end !important;
  }
.langs .bar-bg{
  width:calc(100% - 130px);
  background-color: var(--no-progress);
  margin:0.35rem 0; 
  position:relative;
  }
.langs .bar-bg>*{
  background-color: var(--progress);
  font-family:var(--font-light);
  background-color:var(--second-color);
  padding:0.5rem;
  color:#fff;
  text-align:right;
  }
.langs>.bar-bg>*:before{
  content:attr(class);
  text-transform:uppercase;
  width:130px;
  color:var(--prime-color);
  font-size:1.1rem;
  font-family: var(--font-semiBold);
  position:relative;
  left:-100%;
}

.html{
  width:80% !important;
}
.css{
  width:70% !important;
}
.javascript{
  width:85% !important;
}
.php{
  width:65% !important;
}
.python{
  width:90% !important;
}

/* footer */

footer{
  width:100%;
  padding:1rem;
  background-color:var(--prime-color);
  flex-wrap: wrap;
  justify-content: space-around;
}
footer>p{
  width:100%;
  margin:0px;
  font-size: 0.9rem;
  text-align: center;
  color:#fff;
}
footer p >span{
  color:var(--second-color);
}